services:
  api:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - .env.development
    depends_on:
      - mongo
  mongo:
    image: mongo
    restart: always
    volumes:
      - mongo-data:/data/db
    ports:
      - "27017:27017"
volumes:
  mongo-data:
