name: CI/CD

on:
  push:
    branches:
      - main

jobs:
  run-tests:
    uses: ./.github/workflows/test.yaml
    secrets:
      MONGO_URI: ${{ secrets.MONGO_URI }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}

  deploy:
    needs: run-tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      # Installer Heroku CLI
      - name: Install Heroku CLI
        run: |
          curl https://cli-assets.heroku.com/install.sh | sh

      # Login à Heroku
      - name: Login to Heroku
        env:
          HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
        run: |
          echo "$HEROKU_API_KEY" | heroku auth:token
          heroku container:login

      # Nettoyer les images Docker locales pour éviter le cache
      - name: Clean Docker cache
        run: docker system prune -f

      # Build et push du container Docker
      - name: Build & Push Docker image
        run: |
          docker build --no-cache -t registry.heroku.com/${{ secrets.HEROKU_APP_NAME }}/web .
          heroku container:push web --app ${{ secrets.HEROKU_APP_NAME }}

      # Release de l’application
      - name: Release App
        run: heroku container:release web --app ${{ secrets.HEROKU_APP_NAME }}
