deploy:
  needs: run-tests
  runs-on: ubuntu-latest

  steps:
    - uses: actions/checkout@v4

    # Installer Heroku CLI
    - name: Install Heroku CLI
      run: |
        curl https://cli-assets.heroku.com/install.sh | sh

    # Login à Heroku
    - name: Heroku Login
      env:
        HEROKU_API_KEY: ${{ secrets.HEROKU_API_KEY }}
      run: heroku container:login

    # Build et push du container Docker
    - name: Build & Push Docker image
      run: heroku container:push web --app ${{ secrets.HEROKU_APP_NAME }}

    # Release de l’application
    - name: Release App
      run: heroku container:release web --app ${{ secrets.HEROKU_APP_NAME }}
